 
    <style>
        .tamanho-list {
            padding-top: 7px;
            padding-bottom: 5px;
            margin-bottom: 5px
        }
    </style>

<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="m-0 card-title">
            <i class="fas fa-list-alt"></i>
            Listado de Asistencia - Diaria
        </h3>
    </div>

    <div id="tb_Asistencia" class="card-body">

        @*<div class="callout callout-info tamanho-list">
            <h6>Juan Carlos, Coras David -  71065911 <span class="float-center badge bg-info">PRIMERO - A </span> <span class="float-right badge bg-success">07:25:20</span>    </h6>
        </div>
        <div class="callout callout-info tamanho-list">
            <h6>Juan Carlos, Coras David -  71065911 <span class="float-center badge bg-info">PRIMERO - A </span> <span class="float-right badge bg-success">07:25:20</span>    </h6>
        </div>*@

    </div>
</div>